<h1> About - Fundalicious</h1>

<p> Fundalicious shop was created  May 2016, as  to provide an online resource for kids and the young at heart.
This shop will give you an experience of finding creative art supplies, such as stickers, disney books, crayons and paints. 
Enjoy browsing  through the store and  I hope you are able to find some item from our great selection of materials </p>
