<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
</head>
<body>
    <nav>
        
        <ul>
            <li> <a href ="#home"> Home </a> </li>
            <li> <a href = "#about">About </a> </li>
            <li> <a href ="#contact">Contact </a> </li>
        </ul>
        
    </nav>
    
    
    
    
    <%= yield %>

<footer>
  &copy; 2016 Fundalicious
</footer>
</body>
</html>
